# Configuration file

~CONFIG_VERSION: 1

commands {
    # Enable the /mde enderchest command?
    B:enableEnderchest=true

    # Enable the /mde invsee command?
    B:enableInvsee=true

    # Enable the /mde killall command?
    B:enableKillall=true

    # Enable the /mde pos command?
    B:enablePos=true

    # Enable the /mde pregen command?
    B:enablePregen=true

    # Enable the /mde tpa command?
    B:enableTPA=true

    # Enable the /mde tps command?
    B:enableTPS=true

    # Enable the /mde tpx command?
    B:enableTPX=true

    # Enable the /mde tickrate command?
    B:enableTickrate=true

    # Below how many ticks pre second should the pregenerator wait before generating more chunks?
    # 0 to disable, 5 is default.
    # Range: [0 - 19]
    D:pregenMinTPS=5.0

    # Whould the /mde tpa command allow cross dimensional teleporting?
    # Default is true.
    B:tpaCrossDimension=true

    # How long should players have to stand still before being TPA'd?
    # Default is 3
    # Range: [0 - 20]
    I:tpaWaitTime=3
}


general {
    # A message to be sent to the player every time they join the server.
    # Supports color codes as specified at http://minecraft.gamepedia.com/Formatting_codes#Color_codes
    # If this string is empty no message will be sent.
    S:loginMessage=
}


tweaks {
    # What the ender dragon drops when killed.
    # Default is elytra.
    S:dragonDrop=minecraft:elytra@0

    # Should players get a message and sometimes an item on holidays?
    B:holidayRewards=true

    # If true, you can sleep through the day to the next night.
    # False is vanilla behaviour.
    B:sleepDuringDayChangesToNight=false

    # If true, water bottles will fill cauldrons by 1 level.
    # False is vanilla behaviour.
    B:waterBottlesFillCauldrons=true

    # If true, water will wash away redstone.
    # True is vanilla behaviour.
    B:waterBreaksRedstone=true
}


