# Configuration file

general {
    # Item and Armor IDs that shine light when found on any EntityLiving. Syntax: ItemID:LightValue, seperated by commas
    S:LightItems=torch,glowstone=12,glowstone_dust=10,lit_pumpkin,lava_bucket,redstone_torch=10,redstone=10,golden_helmet=14

    # Update Interval time for all EntityLiving in milliseconds. The lower the better and costlier.
    I:"update Interval"=1000
}


