# Configuration file

general {

    options {
        # Determines if the Altar can be destroyed. server configuration overrides client. [default: false]
        B:"Allow Altar to be Destroyed"=false

        # Determines if the Preview buttons in structure GUIs and other structure previews functions are enabled. Client side only. [default: true]
        B:"Include Structure Previews"=true

        recipes {
            # Determines if the recipe(s) associated with the Arena are enabled. [default: true]
            B:Arena=true
        }

    }

}


