# Configuration file

##########################################################################################################
# keybinds
#--------------------------------------------------------------------------------------------------------#
# If you're reading this in the config file, I would strongly recommend changing the keybinds in-game.
# iChunUtil uses custom keybinds. Go to the controls/keybinds page and click on the bottom right corner.
# 
# If you really have to edit the config file, the format is <key code>, and append either ":SHIFT", ":CTRL", or ":ALT" for keys you want to hold down at the same time.
# For key codes go to: http://minecraft.gamepedia.com/Key_codes 
# Example: 48:SHIFT:ALT will bind to the B key when you hold Shift and Alt (On a QWERTY keyboard).
##########################################################################################################

keybinds {
    # Key bind to open the Hat Selection GUI?
    S:hats.guiKeyBind=78
    
    # Key Code to favourite/unfavourite morph on the selector and show the radial menu.
    # Default: 41 (` [also known as ~])
    S:morph.keyFavourite=62:ALT

    # Key Code to close the selector
    # Default: 1 (Esc)
    S:morph.keySelectorCancel=62:ALT

    # Key Code to go down on the selector
    # Default: 27 (])
    S:morph.keySelectorDown=62:ALT

    # Key Code to go left on the selector
    # Default: 26 ([)
    S:morph.keySelectorLeft=62:ALT

    # Key Code to remove morph on the selector.
    # Delete also works by default
    # Default: 14 (Backspace)
    S:morph.keySelectorRemoveMorph=62:ALT

    # Key Code to go right on the selector
    # Default: 27 (])
    S:morph.keySelectorRight=62:ALT

    # Key Code to select morph on the selector
    # Default: 28 (Enter/Return)
    S:morph.keySelectorSelect=62:ALT

    # Key Code to go up on the selector
    # Default: 26 ([)
    S:morph.keySelectorUp=62:ALT

    # Key to grab blocks/entities with the Portal Gun [default: 34]
    S:portalgun.keyGrab=34

    # Key to reset portals of your Portal Gun [default: 19]
    S:portalgun.keyReset=19

    # Key to zoom and unzoom the Portal Gun [default: -98]
    S:portalgun.keyZoom=-98
}


