# Configuration file

general {
    # Allow players to use shape mining [default: true]
    B:"Allow Shapes"=false

    # Allows the undo command to overwrite replacables like fluids [default: true]
    B:"Allow Undo Replacables"=true

    # Use alternate check for tool validity (e.g. swords on webs) [default: false]
    B:"Alt Tools"=true

    # Skips spawning drops in world adding them directly to your inventory [default: false]
    B:"Auto Pickup"=false

    # Blocks blacklisted from being excavated [default: ]
    S:"Block Blacklist" <
        minecraft:stone
        minecraft:dirt
        minecraft:grass
        minecraft:sand
        minecraft:gravel
        
        minecraft:netherrack
        minecraft:soul_sand
        
        minecraft:end_stone
        
        iceandfire:dread_stone
        iceandfire:dread_stone_bricks
        iceandfire:dread_stone_bricks_chiseled
        iceandfire:dread_stone_bricks_cracked
        iceandfire:dread_stone_bricks_mossy
        iceandfire:dread_stone_tile
        iceandfire:dread_stone_face
        iceandfire:dread_stone_stairs
        iceandfire:dread_stone_slab
        iceandfire:dreadwood_log
        iceandfire:dreadwood_planks
        iceandfire:dread_stone_slab_double
        iceandfire:chared_dirt
        iceandfire:chared_grass
        iceandfire:chared_stone
        iceandfire:chared_cobblestone
        iceandfire:chared_gravel
        iceandfire:chared_grass_path
        iceandfire:ash
        iceandfire:frozen_dirt
        iceandfire:frozen_grass
        iceandfire:frozen_stone
        iceandfire:frozen_cobblestone
        iceandfire:frozen_gravel
        iceandfire:frozen_grass_path
        iceandfire:frozen_splinters
        iceandfire:dragon_ice
        iceandfire:dragon_ice_spikes
        iceandfire:myrmex_resin
        iceandfire:myrmex_resin_sticky
        
        atum:sand
        atum:limestone_gravel
        atum:marl
        atum:limestone_cracked
        atum:limestone
        
        astralsorcery:blockmarble
        
        appliedenergistics2:cable_bus
        
        biomesoplenty:grass
        biomesoplenty:dirt
        biomesoplenty:white_sand
        biomesoplenty:dried_sand
        biomesoplenty:ash_block
        biomesoplenty:mud
        biomesoplenty:flesh
        biomesoplenty:hive
        biomesoplenty:honey_block
        
        dimdoors:fabric
        dimdoors:ancient_fabric
        dimdoors:unravelled_fabric
        
        erebus:umberstone
        erebus:gneiss
        
        littletiles:blocklittletiles
        
        midnight:nightstone
        midnight:trenchstone
        midnight:midnight_dirt
        midnight:midnight_grass
        midnight:midnight_mycelium
        midnight:deceitful_peat
        midnight:deceitful_mud
        
        mysticalagriculture:soulstone
        
        quark:basalt
        quark:marble
        quark:limestone
        quark:jasper
        quark:slate
        quark:biome_cobblestone
        quark:elder_prismarine
        
        rats:marbled_cheese_raw
        rats:marbled_cheese
        rats:marbled_cheese_slab
        rats:marbled_cheese_stairs
        rats:marbled_cheese_tile
        rats:marbled_cheese_chiseled
        rats:marbled_cheese_pillar
        rats:marbled_cheese_brick
        rats:marbled_cheese_brick_slab
        rats:marbled_cheese_brick_stairs
        rats:marbled_cheese_brick_chiseled
        rats:marbled_cheese_brick_cracked
        rats:marbled_cheese_brick_mossy
        rats:marbled_cheese_dirt
        rats:marbled_cheese_grass
        
        stygian:endgrass
        stygian:endobsidian
        stygian:endmagma
        
        thaumcraft:taint_fibre
        thaumcraft:taint_crust
        thaumcraft:taint_soil
        thaumcraft:taint_rock
        thaumcraft:taint_geyser
        thaumcraft:taint_feature
        thaumcraft:porous_stone
        
        thaumicaugmentation:stone
        
        theaurorian:aurorianstone
        theaurorian:auroriangrass
        theaurorian:auroriangrasslight
        theaurorian:aurorianperidotite
        
        thebetweenlands:betweenstone
        thebetweenlands:mud
        thebetweenlands:peat
        thebetweenlands:sludgy_dirt
        thebetweenlands:spreading_sludgy_dirt
        thebetweenlands:cragrock
        thebetweenlands:pitstone
        thebetweenlands:limestone
        thebetweenlands:swamp_dirt
        thebetweenlands:swamp_grass
        thebetweenlands:silt
        thebetweenlands:dead_grass
        thebetweenlands:tar_solid
        thebetweenlands:log_weedwood
        thebetweenlands:log_rotten_bark
        thebetweenlands:log_spreading_rotten_bark
        thebetweenlands:weedwood
        thebetweenlands:log_portal
        thebetweenlands:portal_frame
        
        twilightforest:maze_stone
        twilightforest:hedge
        twilightforest:tower_wood
        twilightforest:castle_brick
        twilightforest:castle_stairs_brick
        twilightforest:castle_stairs_cracked
        twilightforest:castle_stairs_worn
        twilightforest:castle_pillar
        twilightforest:castle_stairs
        twilightforest:castle_rune_brick
        twilightforest:thorns
        twilightforest:thorn_rose
        twilightforest:dark_leaves
        twilightforest:aurora_block
        
        taiga:meteoritecobble_block
        taiga:obsidioritecobble_block
        taiga:meteorite_block
        taiga:obsidiorite_block
        
        tconstruct:slime_dirt
        tconstruct:slime_grass
        
        treasure2:wishing_well_block
        treasure2:desert_wishing_well_block
     >

    # Amount of exaustion per block excavated [range: 0.0 ~ 3.4028235E38, default: 0.1]
    S:Exaustion=0.8

    # Experience cost per block excavated [range: 0 ~ 2147483647, default: 0]
    I:Experience=0

    # The default game stage required to unlock excavations (requires gamestages to be installed) [default: ]
    S:"Game Stage"=

    # Ignores whether or not the held tool is valid [default: false]
    B:"Ignore Tool"=false

    # Inverts the block blacklist to function as a whitelist [default: false]
    B:"Invert Block Blacklist"=false

    # Inverts the tool blacklist to function as a whitelist [default: false]
    B:"Invert Tool Blacklist"=false

    # The maximum number of blocks that can be excavated at once [range: 1 ~ 2147483647, default: 128]
    I:Limit=128

    # How many excavations should be kept in undo history (may lead to exploits or instability) [range: 0 ~ 2147483647, default: 3]
    I:"Max Undos"=3

    # Excavation mode (-1 Disabled, 0 = Keybind, 1 = Sneak, 2 = Always) [range: -1 ~ 2, default: 0]
    I:Mode=0

    # Allows players to cancel excavation by releasing the keys [default: true]
    B:"Must Hold"=true

    # Limit excavation to standard tool types (Picks, Shoves, Axes & Shears) [default: false]
    B:"Only Standard Types"=false

    # Allow excavation with an open hand [default: true]
    B:"Open Hand"=true

    # How far from the origin an excavation can travel [range: 1 ~ 2147483647, default: 16]
    I:Range=8

    # The default game stage required to unlock shape mining (requires gamestages to be installed) [default: ]
    S:"Shape Stage"=

    # How many blocks per tick can be excavated [range: 1 ~ 2147483647, default: 64]
    I:Speed=64

    # Temporarily reduces excavation speed if TPS begins to slow down [default: true]
    B:"TPS Guard"=true

    # Tools blacklisted from excavating [default: ]
    S:"Tool Blacklist" <
     >

    # Use the side of the block hit to determine shape mining direction [default: true]
    B:"Use Side Hit"=true
}


