# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
	Join our Discord for help and support! §9https://discord.gg/ZS6FRR3
	Osmium and Nuclearcraft Ores are only found in The Beneath
	Legends say the Atum holds many treasures, some may be willing to buy them...
	Legends say the Erebus holds a certain mineral with great power...
	Legends say the Aurorian holds powerful foes, and a certain powerful Alloy...
	In MC Eternal, the Atum, Erebus, and Aurorian Dimensions can only be accessed through Advanced Rocketry
	Magic is the key to incredible power!
	Tech is the key to tons of resources!
	In MC Eternal, Skystone Meteorites are only found in The Beneath
	Never touched a certain mod before? Join the Discord for help!
	Rule of Thumb: if there's no Casting recipe for a Tinkers' part, it's done in the Part Builder
	Rad-X can be used to temporarily reduce your radiation intake
	The Torch Launcher is very handy for cave exploring.
	Most boss mobs have been heavily buffed, come prepared.
	A Drop of Evil can help you make a easy mob farm, just how do you get it?
	Task screens can be used to automate certain quests, handy for making coins.
	Yes - we nerfed the kitchen sink :P
	Flux Networks are an excellent way to wirelessly transmit power across long distances and between Dimensions
	No! Don't put that full backpack in your ME System!
	Join our discord!
	You can't tame Rats from a Rat on Arrow
	Most stuff from Cyclic is Laggy or Buggy
	Rats and Golems are great critter alternatives to machines and wires for automation
	Can't wait for the Halloween update!
	Many CareerBees bees have interesting and useful effects
	Weapons made from Opinium cores can double any enchantment
	§mDont Touch Creative Spikes
	Big Buildings rarely mean friends
	§cThe Multishot Enchantment is disabled
	In the Betweenlands, tools from the outside the dimension are much less effective
	Time in a Bottle collects real-world time you can use to speed up blocks in the world!
	Try new mods! You might find new ways to accomplish ordinary tasks!
	The Wither now has friends, and is way stronger, prepare before your first fight.
	GP is a special type of player-linked energy introduced by Extra Utilities 2
	You can store AE upgrade cards in the Network Tool
	Different types of Conduits from EnderIO can fit in the same blockspace
	Placing a diamond on the latch of an EnderStorage Ender Chest or Tank will change it from global to player-specific
	You cannot link an ME-type P2P tunnel through another ME-type P2P tunnel
	XNet is a Cable system which can transport almost any type of resource
	The Tinker Tank is a large multiblock storage that can store multiple types of fluid without mixing
	Dont like to build? use the Copy-Paste Gadget and go to §9reddit.com/r/9x9
	Need help with Thaumcraft? Ask Emperdog#4370
	Look out for the Plague! if you become infected, you won't be able to regenerate health until the effect has worn off!
	The Reservoir from Thermal Expansion can be used as a larger bucket for most crafting recipes requiring fluid
	The Holding enchantment increases the capacity of most Thermal Expansion storages including Satchels, Reservoirs, Energy cells, and more!
	Do not treat Thaumcraft's Crucible as a garbage can!
	Multiblocks can exhibit unexpected behaviour when they cross chunks. Press F9 twice to see chunk borders.
	Trash cans come in handy when dealing with unwanted by-products
	EnderIO's Aversion Obelisk can block spawns of specific mobs.
	AE2 is an extremely versatile storage system mod that can be automated all on its own
	Dont put backpacks in backpacks... And do not put containers that store items into your ME system - you might have a hard time extracting them again
	Claiming chunks will prevent explosions from breaking blocks. Always claim your chunks!
	§9Don't forget to stay Hydrated!
	Rats don't need oxygen to breathe in Space
	Craft Small Storage Crates for better early game storage!
	If you can't find the type of Wand you want, maybe you can find a Wizard who will sell you one.
	If you need help, the MCE Discord is the best place! Check faq, tips, client-questions-and-issues, and server-questions-and-issues, or come hang out in mce-general!
	Remember, there's no place like home! Use /sethome in your base so when you're done exploring out and about, you can use /home to warp back.
	Some blocks will output an on or off signal for a comparator when active. Some even have this function built in.
	Mekanism's Gauge Dropper can be used to manually remove and place fluids from one machine to another.
	The Ancient Furnace from random things, when powered with a Nether Star through the top, will warm up a VERY large area around it
	need to move your rats long distances or through dimensions? use a Rat Sack to store them safely!
	Nuclearcraft collectors are handy 1-block solutions for water or cobblestone
	Signalum-Plated ducts can transfer power and whatever the Duct type normally carries
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFFF55

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


