# Configuration file

~CONFIG_VERSION: 0.2

1-general {
    # Whether players can deactivate chopping e.g. by sneaking [default: true]
    B:canChooseNotToChop=true

    # Whether this mod is enabled or not [default: true]
    B:enabled=true
}


2-default_player_settings {
    # Default setting for whether or not the user wishes to chop (can be toggled in-game) [default: true]
    B:choppingEnabled=true

    # Default setting for whether or not the user wishes to fell tree when chopping (can be toggled in-game) [default: true]
    B:fellingEnabled=true

    # Whether to ignore trees without connected leaves [default: false]
    B:onlyChopTreesWithLeaves=false

    # Default setting for the effect that sneaking has on chopping (can be cycled in-game)
    # Options: NONE, INVERT_CHOPPING, INVERT_FELLING [default: INVERT_CHOPPING]
    S:sneakBehavior=INVERT_CHOPPING
}


3-tree-detection {
    # Whether to destroy leaves when a tree is felled [default: true]
    B:breakLeaves=true

    # List of items that should not chop when used to break a log
    # Ore dictionary names are also acceptable [default: mekanism:atomic_disassembler,]
    S:choppingToolsBlacklist=mekanism:atomic_disassembler,

    # Blocks that are automatically broken when attached to a felled tree and breakLeaves=true
    # Ore dictionary names are also acceptable [default: treeLeaves,]
    S:leavesBlocks=treeLeaves,

    # Blocks that can be chopped
    # Ore dictionary names are also acceptable [default: logWood,]
    S:logBlocks=logWood,

    # Maximum distance from tree blocks to destroy leaves blocks when felling (Note: smart leaves destruction is not supported in 1.12.2) [range: 0 ~ 16, default: 4]
    I:maxBreakLeavesDistance=4

    # Maximum number of leaves block that can destroyed when a tree is felled [range: 0 ~ 8096, default: 8096]
    I:maxNumLeavesBlocks=8096

    # Maximum number of log block that can be detected to belong to one tree [range: 0 ~ 8096, default: 8096]
    I:maxNumTreeBlocks=8096
}


4-chop-counting {
    # Scales the number of chops (rounding down) required to fell a tree; with chopCountingMethod=LINEAR, this is exactly the number of chops per block [range: 0.0 ~ 1024.0, default: 1.0]
    S:chopCountScale=1.0

    # Method to use for computing the number of chops needed to fell a tree
    # Options: LINEAR, LOGARITHMIC [default: LOGARITHMIC]
    S:chopCountingMethod=LOGARITHMIC
}


