# Configuration file

general {
    # Set the mod's Dimension ID.
    I:dimID=24

    # Configure player werewolves level cap. I highly recommend not increasing it past the default 20.
    I:setLevelCap=20

    # Generate silver ore in world.
    B:spawnSilverOre=true

    # Configure if werewolves are allowed to sleep while transformed.
    B:wolfSleep=false
}


