# Configuration file

clientonly {
    I:enableLatchedRendererSpawn=1
    I:enableStencils=1
}


module {

    ##########################################################################################################
    # compactporkchop
    #--------------------------------------------------------------------------------------------------------#
    # Configs for the compact porkchop block module in iChunUtil.
    ##########################################################################################################

    compactporkchop {

        block {
            # Enable the Compact Raw Porkchop block recipe?
            I:enableCompactPorkchop=1
        }

    }

    ##########################################################################################################
    # eula
    #--------------------------------------------------------------------------------------------------------#
    # EULA settings.
    ##########################################################################################################

    eula {

        general {
            # String to say that you've acknowledged the EULA
            # If this config is for a server, set it to true.
            S:eulaAcknowledged=adam2gud4u
        }

    }

    ##########################################################################################################
    # versioncheck
    #--------------------------------------------------------------------------------------------------------#
    # These configs are for the mod version update checker for iChun's mods.
    ##########################################################################################################

    versioncheck {

        general {
            I:versionNotificationFrequency=2

            # How will the CLIENT be notified of updates? (Servers will always have the update printed to the console. Singleplayer is yourself joining a self hosted server)
            # 0 = Notify of updates regardless of player status.
            # 1 = Notify only command senders of updates (Clientside only mod updates will still show)
            # 2 = Do not notify
            I:versionNotificationTypes=0
            I:versionSave=29
        }

    }

    worldportals {

        general {
            I:maxRecursion=2
            I:maxRendersPerTick=10
            I:renderDistanceChunks=0
            I:stencilValue=47
        }

    }

}


