# Configuration file

general {
    # Move the player out of a conflicting block on login
    B:BlockConflict=true

    # Makes the player invisible to mobs while protected
    B:MobProtection=true

    # Restarts protection when player changes Dimension, set to Zero to disable
    I:ProtectDimension=15

    # The Protect time is in seconds, this sets the max protected time
    I:ProtectTime=60

    # Prevents spawning of squid in non water blocks and vary small pools
    B:SquidControl=false

    # Teleport the player to world spawn if they fail into the void when protected
    B:TeleportPlayer=true

    # Text that player sees when the mod has saved them from the void, empty string disables
    S:VoidRescueMessage=A pelican snatched you from the void
}


