# Configuration file

"dont touch" {
    S:"CONFIG VERSION"=MovingWorldCFG.1.0.0
}


general {
    B:"Rediscover powered blocks on next restart?"=false
}


mobile_chunk {
    S:highpriorityassembly_blocks <
        minecraft:air
        minecraft:piston_extension
        minecraft:piston_head
        minecraft:sticky_piston
        minecraft:piston
        minecraft:air
        minecraft:golden_rail
        minecraft:detector_rail
        minecraft:wooden_door
        minecraft:lever
        minecraft:stone_pressure_plate
        minecraft:iron_door
        minecraft:wooden_pressure_plate
        minecraft:stone_button
        minecraft:fence_gate
        minecraft:tripwire_hook
        minecraft:tripwire
        minecraft:wooden_button
        minecraft:unpowered_comparator
        minecraft:powered_comparator
        minecraft:activator_rail
        minecraft:spruce_fence_gate
        minecraft:birch_fence_gate
        minecraft:jungle_fence_gate
        minecraft:dark_oak_fence_gate
        minecraft:acacia_fence_gate
        minecraft:spruce_door
        minecraft:birch_door
        minecraft:jungle_door
        minecraft:acacia_door
        minecraft:dark_oak_door
        minecraft:observer
        bewitchment:block_cypress_door
        bewitchment:block_elder_door
        bewitchment:block_juniper_door
        bewitchment:block_dragons_blood_door
        biomesoplenty:sacred_oak_fence_gate
        biomesoplenty:cherry_fence_gate
        biomesoplenty:umbran_fence_gate
        biomesoplenty:fir_fence_gate
        biomesoplenty:ethereal_fence_gate
        biomesoplenty:magic_fence_gate
        biomesoplenty:mangrove_fence_gate
        biomesoplenty:palm_fence_gate
        biomesoplenty:redwood_fence_gate
        biomesoplenty:willow_fence_gate
        biomesoplenty:pine_fence_gate
        biomesoplenty:hellbark_fence_gate
        biomesoplenty:jacaranda_fence_gate
        biomesoplenty:mahogany_fence_gate
        biomesoplenty:ebony_fence_gate
        biomesoplenty:eucalyptus_fence_gate
        biomesoplenty:sacred_oak_door_block
        biomesoplenty:cherry_door_block
        biomesoplenty:umbran_door_block
        biomesoplenty:fir_door_block
        biomesoplenty:ethereal_door_block
        biomesoplenty:magic_door_block
        biomesoplenty:mangrove_door_block
        biomesoplenty:palm_door_block
        biomesoplenty:redwood_door_block
        biomesoplenty:willow_door_block
        biomesoplenty:pine_door_block
        biomesoplenty:hellbark_door_block
        biomesoplenty:jacaranda_door_block
        biomesoplenty:mahogany_door_block
        biomesoplenty:ebony_door_block
        biomesoplenty:eucalyptus_door_block
        forestry:fence.gates.larch
        forestry:fence.gates.fireproof.larch
        forestry:fence.gates.teak
        forestry:fence.gates.fireproof.teak
        forestry:fence.gates.acacia
        forestry:fence.gates.fireproof.acacia
        forestry:fence.gates.lime
        forestry:fence.gates.fireproof.lime
        forestry:fence.gates.chestnut
        forestry:fence.gates.fireproof.chestnut
        forestry:fence.gates.wenge
        forestry:fence.gates.fireproof.wenge
        forestry:fence.gates.baobab
        forestry:fence.gates.fireproof.baobab
        forestry:fence.gates.sequoia
        forestry:fence.gates.fireproof.sequoia
        forestry:fence.gates.kapok
        forestry:fence.gates.fireproof.kapok
        forestry:fence.gates.ebony
        forestry:fence.gates.fireproof.ebony
        forestry:fence.gates.mahogany
        forestry:fence.gates.fireproof.mahogany
        forestry:fence.gates.balsa
        forestry:fence.gates.fireproof.balsa
        forestry:fence.gates.willow
        forestry:fence.gates.fireproof.willow
        forestry:fence.gates.walnut
        forestry:fence.gates.fireproof.walnut
        forestry:fence.gates.greenheart
        forestry:fence.gates.fireproof.greenheart
        forestry:fence.gates.cherry
        forestry:fence.gates.fireproof.cherry
        forestry:fence.gates.mahoe
        forestry:fence.gates.fireproof.mahoe
        forestry:fence.gates.poplar
        forestry:fence.gates.fireproof.poplar
        forestry:fence.gates.palm
        forestry:fence.gates.fireproof.palm
        forestry:fence.gates.papaya
        forestry:fence.gates.fireproof.papaya
        forestry:fence.gates.pine
        forestry:fence.gates.fireproof.pine
        forestry:fence.gates.plum
        forestry:fence.gates.fireproof.plum
        forestry:fence.gates.maple
        forestry:fence.gates.fireproof.maple
        forestry:fence.gates.citrus
        forestry:fence.gates.fireproof.citrus
        forestry:fence.gates.giganteum
        forestry:fence.gates.fireproof.giganteum
        forestry:fence.gates.ipe
        forestry:fence.gates.fireproof.ipe
        forestry:fence.gates.padauk
        forestry:fence.gates.fireproof.padauk
        forestry:fence.gates.cocobolo
        forestry:fence.gates.fireproof.cocobolo
        forestry:fence.gates.zebrawood
        forestry:fence.gates.fireproof.zebrawood
        forestry:fence.gates.vanilla.fireproof.oak
        forestry:fence.gates.vanilla.fireproof.spruce
        forestry:fence.gates.vanilla.fireproof.birch
        forestry:fence.gates.vanilla.fireproof.jungle
        forestry:fence.gates.vanilla.fireproof.acacia
        forestry:fence.gates.vanilla.fireproof.dark_oak
        forestry:doors.larch
        forestry:doors.teak
        forestry:doors.acacia
        forestry:doors.lime
        forestry:doors.chestnut
        forestry:doors.wenge
        forestry:doors.baobab
        forestry:doors.sequoia
        forestry:doors.kapok
        forestry:doors.ebony
        forestry:doors.mahogany
        forestry:doors.balsa
        forestry:doors.willow
        forestry:doors.walnut
        forestry:doors.greenheart
        forestry:doors.cherry
        forestry:doors.mahoe
        forestry:doors.poplar
        forestry:doors.palm
        forestry:doors.papaya
        forestry:doors.pine
        forestry:doors.plum
        forestry:doors.maple
        forestry:doors.citrus
        forestry:doors.giganteum
        forestry:doors.ipe
        forestry:doors.padauk
        forestry:doors.cocobolo
        forestry:doors.zebrawood
        sonarcore:reinforcedstonegate
        sonarcore:reinforcedstonebrickgate
        sonarcore:reinforceddirtgate
        sonarcore:reinforceddirtbrickgate
        nuclearcraft:reactor_door
        randomthings:onlinedetector
        randomthings:chatdetector
        randomthings:contactbutton
        randomthings:contactlever
        randomthings:slimecube
        randomthings:globalchatdetector
        malisisdoors:wood_sliding_door
        malisisdoors:iron_sliding_door
        malisisdoors:jail_door
        malisisdoors:laboratory_door
        malisisdoors:factory_door
        malisisdoors:shoji_door
        malisisdoors:curtain_white
        malisisdoors:curtain_orange
        malisisdoors:curtain_magenta
        malisisdoors:curtain_light_blue
        malisisdoors:curtain_yellow
        malisisdoors:curtain_lime
        malisisdoors:curtain_pink
        malisisdoors:curtain_gray
        malisisdoors:curtain_silver
        malisisdoors:curtain_cyan
        malisisdoors:curtain_purple
        malisisdoors:curtain_blue
        malisisdoors:curtain_brown
        malisisdoors:curtain_green
        malisisdoors:curtain_red
        malisisdoors:curtain_black
        malisisdoors:customdoor
        malisisdoors:saloon
        malisisdoors:camofencegate
        malisisdoors:verticalhatch
        openblocks:target
        openblocks:big_button
        openblocks:big_button_wood
        openblocks:village_highlighter
        openblocks:block_breaker
        openblocks:block_placer
        openblocks:sky
        openblocks:xp_shower
        appliedenergistics2:security_station
        appliedenergistics2:quartz_growth_accelerator
        appliedenergistics2:crafting_unit
        appliedenergistics2:crafting_accelerator
        appliedenergistics2:crafting_storage_1k
        appliedenergistics2:crafting_storage_4k
        appliedenergistics2:crafting_storage_16k
        appliedenergistics2:crafting_storage_64k
        appliedenergistics2:crafting_monitor
        appliedenergistics2:molecular_assembler
        thaumcraft:activator_rail
        enderio:block_dark_steel_door
        enderio:block_self_resetting_lever5
        enderio:block_self_resetting_lever10
        enderio:block_self_resetting_lever30
        enderio:block_self_resetting_lever60
        enderio:block_self_resetting_lever300
        enderio:block_self_resetting_lever5i
        enderio:block_self_resetting_lever10i
        enderio:block_self_resetting_lever30i
        enderio:block_self_resetting_lever60i
        enderio:block_self_resetting_lever300i
        enderio:block_painted_fence_gate
        enderio:block_painted_wooden_door
        enderio:block_painted_iron_door
        enderio:block_painted_dark_steel_door
        twilightforest:twilight_oak_button
        twilightforest:twilight_oak_door
        twilightforest:twilight_oak_gate
        twilightforest:twilight_oak_plate
        twilightforest:canopy_button
        twilightforest:canopy_door
        twilightforest:canopy_gate
        twilightforest:canopy_plate
        twilightforest:mangrove_button
        twilightforest:mangrove_door
        twilightforest:mangrove_gate
        twilightforest:mangrove_plate
        twilightforest:dark_button
        twilightforest:dark_door
        twilightforest:dark_gate
        twilightforest:dark_plate
        twilightforest:time_button
        twilightforest:time_door
        twilightforest:time_gate
        twilightforest:time_plate
        twilightforest:trans_button
        twilightforest:trans_door
        twilightforest:trans_gate
        twilightforest:trans_plate
        twilightforest:mine_button
        twilightforest:mine_door
        twilightforest:mine_gate
        twilightforest:mine_plate
        twilightforest:sort_button
        twilightforest:sort_door
        twilightforest:sort_gate
        twilightforest:sort_plate
        tconstruct:slime_channel
        quark:redstone_randomizer
        quark:iron_button
        quark:gold_button
        quark:redstone_inductor
        quark:obsidian_pressure_plate
        quark:nether_brick_fence_gate
        quark:spruce_pressure_plate
        quark:birch_pressure_plate
        quark:jungle_pressure_plate
        quark:acacia_pressure_plate
        quark:dark_oak_pressure_plate
        quark:spruce_button
        quark:birch_button
        quark:jungle_button
        quark:acacia_button
        quark:dark_oak_button
        bewitchment:cypress_fence_gate
        bewitchment:elder_fence_gate
        bewitchment:juniper_fence_gate
        bewitchment:dragons_blood_fence_gate
        bewitchment:cypress_pressure_plate
        bewitchment:elder_pressure_plate
        bewitchment:juniper_pressure_plate
        bewitchment:dragons_blood_pressure_plate
        bewitchment:cypress_button
        bewitchment:elder_button
        bewitchment:juniper_button
        bewitchment:dragons_blood_button
        botania:manadetector
        botania:endereyeblock
        botania:starfield
        botania:brewery
        botania:redstringdispenser
        botania:prism
        botania:corporeafunnel
        botania:corporeainterceptor
        botania:hourglass
        botania:sparkchanger
        botania:lightrelay
        botania:lightlauncher
        botania:cacophoniumblock
        botania:redstringinterceptor
        botania:corporearetainer
        cookingforblockheads:oven
        dungeontactics:fan_block
        dungeontactics:flamer_block
        icbmclassic:glasspressureplate
        icbmclassic:glassbutton
        integrateddynamics:menril_door
        mob_grinding_utils:fan
        mob_grinding_utils:saw
        mob_grinding_utils:xp_tap
        stevescarts:blockdetector
        storagedrawers:keybutton
        stupidthings:rail_explosive
        totemic:cedar_fence_gate
        structurize:blockcactusdoor
        structurize:blockcactusfencegate
        midnight:shadowroot_door
        midnight:dark_willow_door
        midnight:dead_wood_door
        midnight:tenebrum_door
        midnight:nightshroom_door
        midnight:dewshroom_door
        midnight:viridshroom_door
        midnight:shadowroot_fence_gate
        midnight:dead_wood_fence_gate
        midnight:dark_willow_fence_gate
        midnight:dewshroom_fence_gate
        midnight:viridshroom_fence_gate
        midnight:nightshroom_fence_gate
        midnight:shadowroot_button
        midnight:dead_wood_button
        midnight:dark_willow_button
        midnight:dewshroom_button
        midnight:viridshroom_button
        midnight:nightshroom_button
        midnight:nightstone_button
        midnight:trenchstone_button
        midnight:rockshroom_bricks_button
        midnight:shadowroot_pressure_plate
        midnight:dead_wood_pressure_plate
        midnight:dark_willow_pressure_plate
        midnight:dewshroom_pressure_plate
        midnight:viridshroom_pressure_plate
        midnight:nightshroom_pressure_plate
        midnight:nightstone_pressure_plate
        midnight:trenchstone_pressure_plate
        midnight:rockshroom_bricks_pressure_plate
        midnight:midnight_lever
        agricraft:water_pad
        agricraft:water_channel_valve
        cyclicmagic:wireless_transmitter
        cyclicmagic:wireless_receiver
        cyclicmagic:doorbell_simple
        cyclicmagic:button_large
        cyclicmagic:clock
        cyclicmagic:target
        cyclicmagic:password_block
        davincisvessels:crate_wood
        dimdoors:gold_door
        dimdoors:quartz_door
        dimdoors:iron_dimensional_door
        dimdoors:gold_dimensional_door
        dimdoors:quartz_dimensional_door
        dimdoors:dimensional_portal
        dimdoors:oak_dimensional_door
        thebetweenlands:weedwood_plank_fence_gate
        thebetweenlands:weedwood_log_fence_gate
        thebetweenlands:rubber_tree_plank_fence_gate
        thebetweenlands:giant_root_plank_fence_gate
        thebetweenlands:hearthgrove_plank_fence_gate
        thebetweenlands:nibbletwig_plank_fence_gate
        thebetweenlands:weedwood_plank_pressure_plate
        thebetweenlands:betweenstone_pressure_plate
        thebetweenlands:syrmorite_pressure_plate
        thebetweenlands:weedwood_plank_button
        thebetweenlands:betweenstone_button
        thebetweenlands:weedwood_lever
        thebetweenlands:mud_tower_beam_origin
        thebetweenlands:mud_tower_beam_relay
        thebetweenlands:rotten_plank_fence_gate
        thebetweenlands:weedwood_door
        thebetweenlands:rubber_tree_plank_door
        thebetweenlands:giant_root_plank_door
        thebetweenlands:hearthgrove_plank_door
        thebetweenlands:nibbletwig_plank_door
        thebetweenlands:syrmorite_door
        thebetweenlands:scabyst_door
        roots:wildwood_door
        roots:wildwood_fence_gate
        roots:wildwood_button
        roots:wildwood_pressure_plate
        roots:runestone_button
        roots:runestone_pressure_plate
        roots:runestone_brick_button
        roots:runestone_brick_pressure_plate
        roots:runestone_brick_alt_button
        roots:runestone_brick_alt_pressure_plate
        mysticalworld:charred_button
        mysticalworld:charred_pressure_plate
        mysticalworld:charred_fence_gate
        mysticalworld:mud_block_button
        mysticalworld:mud_block_pressure_plate
        mysticalworld:mud_block_fence_gate
        mysticalworld:mud_brick_button
        mysticalworld:mud_brick_pressure_plate
        mysticalworld:mud_brick_fence_gate
        mysticalworld:pearl_button
        mysticalworld:pearl_pressure_plate
        mysticalworld:pearl_fence_gate
     >
    S:highprioritydisassembly_blocks <
        minecraft:piston_head
        minecraft:piston_extension
     >
    S:lowpriorityassembly_blocks <
        minecraft:redstone_wire
        minecraft:obsidian
     >
    S:lowprioritydisassembly_blocks <
        minecraft:end_portal
        minecraft:portal
        minecraft:redstone_wire
     >
}


