# Configuration file

general {
    # The applicationId of the Discord Rich presence
    S:discordApplicationID=692435241373270077

    # Big image used in the Rich Presence
    S:largeImageKey=webp_net-resizeimage_6_

    # The name that should be displayed when hovering over the large image
    S:modPackName=MC Eternal

    # Set to true if you want to display the ip of the server you are currently connected to
    B:showIp=false

    # Small circular image that will be used in the rich presence (optional)
    S:smallImageKey=twitch

    # File that gets used to load in the templates for the groups and dimensions
    # !!! Be sure to add this file to the discordcraft config directory to work !!!
    S:templateFile=
}


