# Configuration file

general {
    # The vampire killer arrow can only instant kill NPC vampires that have a max (not actual) health of this
    I:arrow_vampire_killer_max_health=40

    # If the sanguinare effect can be canceled by a milk bucket
    B:can_cancel_sanguinare=true

    # Any normal damage dealt by crossbow arrows will be multiplied by this factor.
    D:crossbow_arrow_damage_mult=1.0

    # Drop orchid every n times breaking a leave in the vampire forest
    I:drop_orchid_from_leaves_chance=25

    # If iron golems should attack vampire NPCs if in a non vampire village
    B:golem_attack_vampire=true

    # The blood mB to charge percentage of the normal heart seeker vampire sword
    D:heart_seeker_charging_factor=5.0E-4

    # The percentage of stored blood used for every hit with the normal heart seeker vampire sword
    D:heart_seeker_usage_factor=0.005

    # Duration of the blindness effect caused by special holy water
    I:holy_water_blindness_duration=160

    # Duration of the nausea effect caused by enhanced or special holy water
    I:holy_water_nausea_duration=200

    # Damage a normal holy water splash bottle does when directly hitting a vampire
    I:holy_water_splash_damage=5

    # Holy water damage is multiplied with this value for each tier above normal
    D:holy_water_tier_damage_inc=2.0

    # Minecraft will try to generate 1 camp per NxN chunk area.
    I:hunter_camp_density=8

    # Maximum hunter spawns per minecraft day
    I:hunter_camp_max_spawn=5
    I:vampire_forest_weight=10

    # If zombies should ignore vampires
    B:zombie_ignore_vampire=true
}


