# Configuration file

general {
    # The bite damage is multiplied with (value+1)
    D:bite_damage_mult=1.0

    # The blood exhaustion is multiplied with (value+1)
    D:blood_thirst_reduction1=-0.4

    # How far the blood vision reaches (Squared distance, so for 20 blocks enter 400)
    I:blood_vision_distance_squared=1600

    # Disables the effect of 'Avoided by creepers' if it causes problems. Still can be unlocked though.
    B:disable_avoided_by_creepers=false

    # Compare value to potion effect amplifier (-1 is normal)
    I:jump_boost=1

    # If the players bite is poisonous this specifies the duration (in sec)
    I:poisonous_bite_duration=5

    # The max movementspeed is multiplied with (value+1)
    D:speed_boost=0.15

    # The sundamage is multiplied with (value+1)
    D:sundamage_reduction1=-0.3

    # The maximal health percentage for a sword finisher kill
    D:sword_finisher_max_health_perc=0.25
}


